/*--- Printer version, just needs differences ---*/
body {background-color:white; color:black; font-family:'Times New Roman',Times,serif; font-size:12px;}
blockquote {font-size:.8em;margin-left:2em;margin-right:.5em}
#maintable {border:none; background-color:white; color:black;}

.dr1 {white-space: nowrap;}

a {font-weight:100;}
a:link, a:visited  {color:black; text-decoration:underline; text-line-style:dot-dot-dash;} /* links */
a:link.il, a:visited.il ,
.pp, a:link.pp, a:visited.pp {color:black; font-weight:100; text-line-style:dot-dot-dash;}
a.printel:after { content: ' ' attr(href); font-size: 80%;} /* prints address after links, used on offsite resources */

.bbdr {border:1px solid black; border-bottom:1px solid black;}
.nsbt {border:none;}
.ptbdrtbl1px {border-top: 1px solid black;}

.smcap, h1, h2, h3, h4, h5, h6,
.pbnw {background-color:white; color:black !important;} /*Print black & white*/

.internalnav {background-color:white;}

.jiboxt, .jiboxb {border-color:black;}
.pbia {page-break-inside: avoid !important;}
.cx3 {width:0%;}

/* .hlwin {background-color:lightgrey;} */

.wsnw {white-space: nowrap;}
.m0px {min-height:0px}
.col2pr {column-count:2 !important; -moz-column-count:2 !important;}

/*--- Printer vs screen ---*/
.cx3, .noprint {display: none;} /* removes element completely */
.nodispprint {visibility: hidden;} /* hides element, but still takes up space */
.printonly {display: inline;}
tr.printonly, td.printonly {display: block;}


/* Main content column */
#cocol {width: 100%; padding-left: 8px;}
.coverbox, .p100pc {width: 100%;}
.col2 {column-count:2; -moz-column-count:2;}
.col3 {column-count:3; -moz-column-count:3;}